body{
  font-size: 14px;
  font-family: Helvetica,STHeiti,Droid Sans Fallback;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
h1{
  font-size: 1.5em;
  font-weight: 500;
}
h2{
  font-size: 1.275em;
  font-weight: 400;
}
h3{
  font-size: 1.125em;
  font-weight: 400;
}
p{
  font-size: 1.125em;
}
span{
  font-size: 1em;
}
