doctype html
html(lang='zh-CN')
    head
        meta(charset='UTF-8')
        meta(name='keywords', content='vue,fullStack,node')
        meta(name="Nomand" content="a fullStack Dev")
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='robots', content='index, follow')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(href='/dist/app.67ea1ac.css', rel='stylesheet')
        title=title
        
    body
        block content
