$blue: #4781ef;
$deepBlue:rgba(106, 85, 209, 0.96);
$lightBlue: #D9E9FF;
$green: #417505;
$lightGreen: #b8e986;
$grey: #9b9b9b;
$lightGrey: #ebebeb;
$blackTextColor: #4a4a4a;
$orangeTextColor: #f5a623;
$blueTextColor: #4a90e2;
$mediumGrey: #dddddd;
$borderColor: #cccccc;
$titleColor: #000000;
$greyChar: #737373;
$red: #ef5350;
$deepGrey: #49535d;
$lightBlack:#404a54;
$lightGrey:rgb(236, 234, 244);
